body {
  box-sizing: border-box;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 0 0.5rem;

  background: #fff;
  color: #191919;

  font-family: system-ui, 'Segoe UI', 'Roboto', 'Ubuntu', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  font-size: 1.25rem;
}

p {
  margin: 1.25rem 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.25rem 0;
}

a {
  color: #0076d1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img, video {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

code {
  border-radius: 0.375rem;
  background: #efefef;
  padding: 0.0625rem 0.5rem;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  margin: 1.25rem 0;
  padding: 0;
}

#menu li {
  display: inline-block;
  padding-right: 1rem;
}

li#domain {
  margin-left: auto;
  padding-right: 0;
}

li#domain a {
  color: #888;
}

.cta-button, .cta-button:visited {
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  display: inline-block;

  background: linear-gradient(120deg, #77888f, #364e59);
  color: #fff;

  font-size: 1.25rem;
  font-weight: bold;
}
